/* Estilos para a página de carregamento */
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.loader img {
  max-width: 100%;
  margin-bottom: 20px;
}

.loader p {
  font-size: 28px;
  font-weight: bold;
}
