/* Estilos para a página de carregamento */
body{
  overflow: hidden;
  margin-top: 0px;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: #000000;

}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader img {
  justify-items: center;
  align-items: center;
  max-width: 100%;
  margin-top: 79px;
}

.loader p {
  font-size: 28px;
  font-weight: bold;
}
